<div class="welcomecontainer">
  <h1 id="bikeneeds"> All your bike needs in one place! </h1>

  <img id="mainpic" src="https://timfromwales.files.wordpress.com/2016/10/14633406_10154217915547600_5752636201376882323_o.jpg?w=700" alt="man jumping bike in forest">
  <p id="currenttime"> <%= Time.now %></p>
</div>

<h2 id="featuredtitle">Featured Product</h2>
<!--<%= @featured_product.name %>-->


<div class="carousel-inner">
  <% @products.each do |product| %>
  <div class="carousel-item<%= " active" if product == @products.first %>">
    <%= image_tag(product.image_url, class: "img-responsive") %>
    <div class="carousel-caption">
      <h2><%= product.name %></h2>
    </div>
  </div>
  <% end %>
</div>


<a id="carouselarrowleft" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a id="carouselarrowright" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
