
  <div class="col-sm-4">
    <%= image_tag(product.image_url, class: "img-fluid") %>
    <a href="#"><h1 class="pdttitle"><%= product.name %></h1></a>
    <p class="pdtdescribe"><%= product.description %></p>
    <p class="pdtcolor"><%= product.colour %></p>
    <p class="pdtprice"><%= product.prices %></p>
  </div><!-- /col -->
