<!DOCTYPE html>
<html>
  <head>
    <title>Firstproject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><% alert %></p>
    <header class="site-header" role="banner" data-section-id="header" data-section-type="header">
      <div class="upper-site-header">
        <img id="headerbike" src="https://png.pngtree.com/thumb_back/fw800/back_pic/00/09/89/3856308ce4a878a.jpg">
        <h4 id="berlinheader">Berlin Bikes</h4>
      </div>
      <ul class="twitter" role="navigation" id="stickynav">
              <li><a href="http://localhost:3000">Home</a></li>
              <li><%= link_to "Products", products_path, class: "nav-link" %></li>
              <li><%= link_to "About", simple_pages_about_path, class: "nav-link" %></li>
              <li><%= link_to "Contact", simple_pages_contact_path, class: "nav-link" %></li>
              <li> <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
              <%= form.label :q, 'Search for:' %>
              <%= form.text_field :q, id: 'q', value: params[:q] %>
              <%= form.submit 'Search', class: 'btn-xs' %>
              <% end %> </li>
      </ul>

    </header>
  <!--  <nav class="navbar navbar-lg navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:3000">
          Berlin Bike Shop
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">b</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="http://localhost:3000">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="http://localhost:3000/products">Shop</a>
            <a class="nav-item nav-link" href="http://localhost:3000/simple_pages/about">FAQ</a>
            <a class="nav-item nav-link disabled" href="http://localhost:3000/simple_pages/contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
-->

    <%= yield %>

    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© 2018 Copyright: Shanda McKinney
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
      </div>
    </footer>
  </body>
</html>
